<div id="grid" class="grid-container">
    {% for t in trailers %}
        <div id="gridItem{{t.id}}" class="grid-item" style="background-image: url({{t.img_url}}); {% if t.muted %} filter: grayscale(100%); opacity: 0.5 {% endif %}" onclick="handleClick('{{t.id}}', '{{t.url}}')"></div>
    {% endfor %}
</div>

<script>
    function handleClick(id, url) {
        let data = new FormData();
        data.append('id', id);

        element = document.getElementById('gridItem' + id);

        if (element.style.filter === "grayscale(100%)") {
            element.style.filter = "none";
            element.style.opacity = 1;
            data.append('muted', 0);
        } else {
            window.open(url, '_blank');
            element.style.filter = "grayscale(100%)";
            element.style.opacity = 0.5;
            data.append('muted', 1);
        }

        fetch('', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'X-Requested-With': 'XMLHttpRequest',
            },
            body: data,
        })
    }
</script>
