@media screen {

  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
  }

  .link:hover {
    cursor: pointer;
  }

  .highlight {
    color: inherit;
    cursor: pointer;
  }

  .highlight:hover {
    color: #ed254e;
  }

  .dropdown-item a:hover {
    text-decoration: none;
  }

  .main-content {
    margin: 15px min(10%, 90px);
  }

} /* end @media */