<div id='chars-kz' class="container mt-4 mb-4" style="display: none;">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('ğ', this)">ğ</button>
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('ı', this)">ı</button>
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('ï', this)">ï</button>
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('ñ', this)">ñ</button>
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('ş', this)">ş</button>
    </div>
</div>
<div id='chars-pt' class="container mt-4 mb-4" style="display: none;">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('ç', this)">ç</button>
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('ã', this)">ã</button>
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('õ', this)">õ</button>
    </div>
</div>

<script>
    function insertCharacter(character, button) {
        let inputField = document.getElementById('word-input') || document.getElementById('word-1');
        inputField.focus();
        inputField.value += character;
        $('#submit-button').prop('disabled', false);
    }
</script>