<div id='kz-characters' class="container mt-5" style="display: none;">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('ğ', this)">ğ</button>
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('ı', this)">ı</button>
        <button type="button" class="btn btn-light btn-round" onclick="insertCharacter('ï', this)">ï</button>
    </div>
</div>

<script>
    function insertCharacter(character, button) {
        let inputField = document.getElementById('word-input') || document.getElementById('word-1');
        inputField.focus();
        inputField.value += character;
        $('#submit-button').prop('disabled', false);
    }
</script>